@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');

.thumbs {
  width: 400px;
  margin: 10px auto;
}

img {
  display: block;
  float: left;
  width: 20%;
}

.active img {
  width: 100%;
}
