@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');

body {
  font-family: sans-serif;
}

a.active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
}

div.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 0.5s linear;
}

div.tab-pane.active {
  display: block;
  transition: opacity 0.5s linear
}
