@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');

body {
  font-family: sans-serif;
}

a.active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
}

div.tab-pane.active {
  display: block;
}
