@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');

body {
  font-family: sans-serif;
}

.carousel {
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

.items {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.items * {
  display: none;
  position: absolute;
}

.items .active {
  display: block;
  left: 0%;
  transition: left 0.5s linear;
  -webkit-transition: left 0.5s linear;
}

.items .left {
  left: 100%;
}

.items .right {
  left: -100%;
}

.slide {
  text-align: center;
}
